#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*
.prettierrc
#editor settings
.idea
.editorconfig

src
templates
node_modules
.github
*.ts
tsconfig.json